.cards {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  border-radius: $radius;
  padding: 20px;
  background: $white;


}

@media (min-width: 768px) {
  .cards {
    flex-direction: row;
    justify-content: center;
  }

  .card {
    max-width: 300px;
  }
}